################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.vscode
bin
obj
node_modules

*.env
!*example.env
EmployeeMap.App/src/**/*.js
EmployeeMap.App/src/**/*.js.map
EmployeeMap.App/wwwroot/dist
/EmployeeMap.App/build/EmployeeMap.App/Debug/netcoreapp2.1
/build
